<h1 style="font-size:x-large;">Fiets</h1>
<div style="background-color: gray">
    <p>
        Een fiets is een voertuig dat door
        spierkracht wordt aangedreven. De snelheid
        kan variëren aangezien de gebruiker zelf kan
        bepalen hoeveel energie hij/zij in het
        aandrijven steekt. De hedendaagse fiets
        bestaat uit ten minste twee wielen,
        een frame, een zadel, een stuur en een
        trapas met pedalen. Sommige fietsen hebben
        een (hulp)motor. Fietsen met een elektrische
        motor als aandrijving worden ook wel "e-bikes" genoemd.
        Tot 1966 was de wettelijke term in Nederland rijwiel.
        In Vlaanderen wordt ook het Franse vélo gebruikt.
        Het grootste deel van de fietsen heeft een
        kettingaandrijving, hoewel een asaandrijving
        of riemaandrijving ook mogelijk zijn.
        Van de fiets zijn andere vervoermiddelen
        afgeleid, zoals de vooral in Azië populaire
        riksja en becak, en enkele gemotoriseerde
        varianten die als uitvindingen een "eigen"
        leven zijn gaan leiden: de bromfiets,
        snorfiets, scooter en motorfiets.
    </p>
        <a type="button" class="btn btn-default" href="@Url.Action("FietsPartial")" id="FietsPartial">learn more</a>
</div>
