<h1 style="font-size:x-large;">Werelduurrecord</h1>
<div style="background-color: gray"/>
<p>
    Het werelduurrecord fietsen (de afgelegde afstand na 1 uur fietsen) 
    op een UCI-goedgekeurde fiets is 54,526 km, sinds juni 2015 en staat 
    op naam van Bradley Wiggins uit het Verenigd Koninkrijk. Op een 
    gestroomlijnde ligfiets kan het nog harder: op 2 augustus 2011 
    bereikte de Zwitser Francesco Russo een afstand van 91,556 km.[12]
    Het uurrecord op een ligfiets zonder stroomlijn is in mei 2012 door 
    Aurelien Bonneteau
    op een M5 carbon high racer gesteld op 56,597 km.
    <img style="" src="~/Content/bradleywiggens.png" />
</p>
<a type="button" class="btn btn-default" href="https://nl.wikipedia.org/wiki/Bradley_Wiggins">Bradley Wiggens</a>
