@model IList<BlogOefLes.Models.Person>  
    @{
        ViewBag.Title = "FietsPartial";
    }
<h1 style="font-size:x-large;">Fiets</h1>
<div style="background-color: gray">
    <p>
        Een omkadering met foto's en info over het ontstaan van 
        de fiets in verschillende generaties
    </p>
</div>
<img src="~/Content/fiets.png"/>
<p>Ontwikkeling van de fiets. 1: Karl von Drais (Duitsland), 
    2: Thomas McCall (Schotland), 3: Piere Llallement (Frankrijk),
    4: James Starley (Frankrijk), 5: John Kemp Starley (Engeland), 
    6: Racefiets (USA), 
    7: Mountain Bike (USA)</p>
